@import "~@angular/material/theming";

@mixin neward-footer-theme($theme, $maxWidth) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);

  .neward-footer {
    border-top: solid 1px mat-color($foreground, text, .12);
    padding: 0 calc((100vW - #{$maxWidth}) / 2);

    @media screen and (max-width: #{$maxWidth - 2rem}) {
      padding: 0 1rem;
    }

    a {
      color: mat-color($primary, 500);
    }
  }
}
