<ng-container *ngIf="company">
  <section class="common">
    <span class="company-name">{{ company.legalName }}</span>
    <ng-container *ngIf="company.address as address">
      <span class="street-address" *ngIf="address.streetAddress">{{ address.streetAddress }}</span>
      <span class="postal-code address-locality">
        <span class="postal-code" *ngIf="address.postalCode">{{ address.postalCode }}</span>&nbsp;
        <span class="address-locality" *ngIf="address.addressLocality">{{ address.addressLocality }}</span>
      </span>
    </ng-container>
  </section>
  <section class="contact">
    <a class="telephone" *ngIf="company?.telephone" [href]="'tel:' + company.telephone">{{ company.telephone }}</a>
    <a class="email" *ngIf="company?.email" [href]="'mailto:' + company.email">{{ company.email }}</a>
    <a class="url" *ngIf="company?.url" [href]="company.url" target="_blank" rel="noopener">{{ company.url }}</a>
  </section>
  <section class="person" *ngIf="company.person as person">
    <span class="name">
      <span class="given-name">{{ person?.givenName }}</span>&nbsp;
      <span class="family-name">{{ person?.familyName }}</span>
    </span>
    <a class="telephone" *ngIf="person?.telephone" [href]="'tel:' + person.telephone">{{ person.telephone }}</a>
    <a class="email" *ngIf="person?.email" [href]="'mailto:' + person.email">{{ person.email }}</a>
  </section>
</ng-container>
