@import "~@angular/material/theming";

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

p {
  line-height: 1.4;
  text-align: justify;
}

a {
  text-decoration: none;

  &:not(.mat-button-base):hover {
    text-decoration: underline;
  }
}

@mixin neward-common-theme($theme) {
  $primary: map-get($theme, primary);

  a {
    color: mat-color($primary, 500);
  }
}
