<form novalidate [formGroup]="fg" (ngSubmit)="submit()">
  <p>Hier können Sie ein neues Konto für den Zugang zum administrativen Bereich der bodyLIFE Medien GmbH erstellen.</p>
  <mat-form-field appearance="fill">
    <mat-label>E-Mail</mat-label>
    <input matInput class="email" type="email" formControlName="email" autocomplete="email" required>
    <mat-error *ngIf="fg.controls.email?.errors?.required || fg.controls.email?.errors?.email">Bitte
      geben Sie eine gültige E-Mail ein</mat-error>
  </mat-form-field>
  <mat-form-field formGroupName="passwords" appearance="fill">
    <mat-label>Kennwort</mat-label>
    <input matInput class="password" type="password" formControlName="password" required autocomplete="new-password">
    <mat-error
      *ngIf="$any(fg.controls.passwords).controls.password?.errors?.required || $any(fg.controls.passwords).controls.password?.errors?.minlength">
      Das Kennwort muss mindestens 6 Zeichen lang sein</mat-error>
  </mat-form-field>
  <mat-form-field formGroupName="passwords" appearance="fill">
    <mat-label>Kennwort wiederholen</mat-label>
    <input class="confirm" matInput type="password" formControlName="repeat" required autocomplete="new-password">
    <mat-error *ngIf="$any(fg.controls.passwords).controls.repeat?.errors?.mismatch">Die Kennwörter
      sind nicht identisch</mat-error>
  </mat-form-field>
  <footer>
    <button color="primary" mat-stroked-button type="button">Anmelden</button>
    <button color="primary" mat-flat-button type="submit">Registrieren</button>
  </footer>
</form>
