<ng-container *ngIf="token$ | async as token">
  <button mat-flat-button color="primary" *ngIf="token | validToken; else signindialog"
    [disabled]="!('during' | isTerminated)" [matMenuTriggerFor]="voteMenu">
    {{ token?.company_votes[company?.id] || 0 }}
    <ng-container *ngIf="token?.company_votes[company?.id] === 1; else multiple">Punkt</ng-container>
    <ng-template #multiple>Punkte</ng-template>
  </button>
</ng-container>
<h1 itemtype="http://schema.org/Name">{{ company?.legalName }}</h1>
<span *ngIf="company?.foundingDate as releaseDate">
  <span>Start in der Fitnessbranche:</span>&nbsp;<span
    itemtype="http://schema.org/foundingDate">{{ releaseDate | date: 'yyyy' }}</span>
</span>
<h2>Kurzbeschreibung des Unternehmens</h2>
<p itemtype="http://schema.org/description" [innerHTML]="company?.promotion?.description | safe: 'html'"></p>
<section class="video" *ngFor="let video of company?.videos">
  <iframe [src]="video | safe: 'resourceUrl'" frameborder="0"
    allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<h2>Was macht uns besonders? USP?</h2>
<p [innerHTML]="company?.promotion.usp | safe: 'html'"></p>
<section class="slider full-width" *ngIf="company?.images?.length > 0">
  <swiper>
    <a class="slider-element" (click)="openOverlay.emit(image)" *ngFor="let image of company?.images">
      <img itemtype="http://schema.org/image" [src]="image | safe: 'resourceUrl'">
    </a>
  </swiper>
</section>
<h2>Was wurde seit dem 1. Juni 2019 erreicht?</h2>
<p [innerHTML]="company?.promotion.achieved | safe: 'html'"></p>
<h2>Weshalb sind wir der Aufsteiger des Jahres? Warum sollte man für uns
  voten? </h2>
<p [innerHTML]="company?.promotion.why | safe: 'html'"></p>
<ng-container class="documents" *ngIf="company?.documents?.length > 0">
  <h2>Dokumente</h2>
  <a *ngFor="let document of company?.documents" download [href]="document.url | safe: 'url'" rel="noopener"
    target="_blank">{{ document.name }}</a>
</ng-container>
<section neward-contact [company]="company"> </section>

<mat-menu #voteMenu="matMenu" class="neward-menu vote-menu" xPosition="before">
  <button mat-menu-item (click)="vote(company, 0)">0 Punkte</button>
  <button mat-menu-item (click)="vote(company, 1)">1 Punkt</button>
  <button mat-menu-item (click)="vote(company, 2)">2 Punkte</button>
  <button mat-menu-item (click)="vote(company, 3)">3 Punkte</button>
  <button mat-menu-item (click)="vote(company, 4)">4 Punkte</button>
  <button mat-menu-item (click)="vote(company, 5)">5 Punkte</button>
  <button mat-menu-item (click)="vote(company, 6)">6 Punkte</button>
  <button mat-menu-item (click)="vote(company, 7)">7 Punkte</button>
  <button mat-menu-item (click)="vote(company, 8)">8 Punkte</button>
  <button mat-menu-item (click)="vote(company, 9)">9 Punkte</button>
  <button mat-menu-item (click)="vote(company, 10)">10 Punkte</button>
</mat-menu>

<ng-template #signindialog>
  <button mat-flat-button color="primary" [disabled]="!('during' | isTerminated)"
    (click)="signin.emit()">Jetzt abstimmen</button>
</ng-template>
