<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let entry"> {{ entry.name }} </td>
  </ng-container>

  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef> Punkte </th>
    <td mat-cell *matCellDef="let entry"> {{ entry.points }} </td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef> Anzahl Stimmen </th>
    <td mat-cell *matCellDef="let entry"> {{ entry.count }} </td>
  </ng-container>

  <ng-container matColumnDef="average">
    <th mat-header-cell *matHeaderCellDef> Durchschnitt </th>
    <td mat-cell *matCellDef="let entry"> {{ entry.average | number: '1.2' }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
