:host {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "content"
    "footer";
  height: 100%;
  padding-top: 4.5rem;
}

main {
  box-sizing: border-box;
  justify-self: center;
  padding: 1rem;
}
