:host {
  border-radius: .25rem;
  box-sizing: border-box;
  display: grid;
  gap: .5rem;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "legalName logo"
    "description logo";
  max-height: 11rem;
  overflow: hidden;
  padding: .5rem;
}

P {
  line-height: 1.4rem;
  overflow: hidden;
  max-height: calc(5 * 1.4rem);
  position: relative;

  &::before {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

img {
  grid-area: logo;
  max-height: 10rem;
  max-width: 10rem;
}
