@import "~@angular/material/theming";

@mixin neward-header-theme($theme, $maxWidth) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);

  .neward-header {
    padding: 0 calc((100vW - #{$maxWidth}) / 2);

    @media screen and (max-width: #{$maxWidth - 2rem}) {
      padding: 0 1rem;
    }

    &.small {
      background-color: mat-color($background, background);
    }
  }
}
