@import '../../../../../styles/breakpoints';

:host {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  gap: .5rem;
  grid-template-areas: "action logo cta";
  grid-template-columns: minmax(2.5rem, 150px) 1fr 150px;
  min-height: 4.5rem;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 400ms ease-in-out;
  z-index: 20;

  @media #{$mat-xs} {
    grid-template-columns: 2.5rem 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "action logo";

    .mat-flat-button {
      align-self: baseline;
    }
  }

  .mat-flat-button {
    display: none;
    transition: all 200ms ease-in-out;
  }
}

:host.small {
  transition: all 200ms ease-in-out;
  border-bottom: none;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  min-height: 3.5rem;

  @media #{$mat-xs} {
    grid-template-rows: repeat(2, 40px);
    grid-template-areas:
      "action logo"
      "cta cta";
    padding: 8px 16px;

    .mat-flat-button {
      align-self: baseline;
    }
  }

  .mat-flat-button {
    display: inline-block;
    transition: all 200ms ease-in-out;
  }
}

#logo {
  -webkit-tap-highlight-color: transparent;
  background-image: url('/assets/logo.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: block;
  grid-area: logo;
  height: 1.5rem;
  justify-self: center;
  outline: none;
  width: 11rem;
}

button {
  grid-area: cta;
}

.user {
  align-items: center;
  display: grid;
  font-size: .875rem;
  font-weight: normal;
  gap: 8px;
  grid-area: cta;
  grid-template-columns: auto 1fr;
  height: 100%;
  line-height: normal;
  max-width: 100%;
  min-width: 200px;
  text-align: start;
  text-transform: none;
}

.avatar {
  border-radius: 4px;
  color: var(--primary-500-contrast);
  display: inline-block;
  font-size: .875rem;
  height: 28px;
  line-height: 28px;
  opacity: .8;
  opacity: 1;
  text-align: center;
  vertical-align: middle;
  width: 28px;
}

.user-info {
  align-items: center;
  display: grid;
  font-size: 0.75rem;
}
