<h2 mat-dialog-title>Vielen Dank für Ihre Stimme</h2>
<button mat-icon-button mat-dialog-close tabindex="-1" aria-label="close" type="button">
  <mat-icon>&#xe5cd;</mat-icon>
</button>
<mat-dialog-content>
  <p>Vielen Dank für Ihre Unterstützung. Wir würden uns freuen, wenn Sie auch für weitere Kandidaten Punkte vergeben.<br><br>
    <span class="small">Bei der weiteren Stimmenvergabe wird diese Meldung nicht mehr erscheinen. Wir erhalten Ihre
      Punktzahl direkt nachdem Sie diese ausgewählt haben.</span>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close color="primary" routerLink="/" fragment="aufsteiger-des-jahres">Zu den
    Aufsteigern</button>
  <button mat-stroked-button mat-dialog-close color="primary" routerLink="/" fragment="produktneuheiten-des-jahres">Zu
    den Produkneuheiten</button>
</mat-dialog-actions>
