@import './styles/bodylife.theme';

@mixin custom-theme($theme) {
}

@include angular-material-theme($bodylife-theme);
@include custom-theme($bodylife-theme);

html,
body {
  height: 100%;
  font-size: 16px;
  margin: 0;
}

html {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(assets/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  scroll-behavior: smooth;
}
