@import './app/pages/common/landing-page/landing-page.theme';
@import './app/shared/layout/layout.theme';
@import './styles/bodylife.theme';
@import './styles/common';

@mixin custom-theme($theme, $maxWidth) {
  @include neward-common-theme($theme);
  @include neward-landing-page-theme($theme);
  @include neward-layout-theme($theme, $maxWidth);
}

@include angular-material-theme($bodylife-theme);
@include custom-theme($bodylife-theme, 72.5rem);

html,
body {
  height: 100%;
  font-size: 16px;
  margin: 0;
}

html {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(assets/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  scroll-behavior: smooth;
}
