<section neward-intro @easeIn>
  <h1>Die Preisverleihung für Aufsteiger und Produktneuheiten der Fitnessbranche</h1>
  <span *ngIf="'after' | isTerminated" class="terminated-message">Die Abstimmung hat am 15. Oktober geendet. Die
    Gewinner werden am 24. November im Rahmen einer
    Online-Preisverleihung bekannt gegeben. Möchten Sie live dabei sein? Dann können Sie sich hier anmelden:
    <a href="https://bodylife-medien.com/events/" rel="noopener"
      target="_blank">https://bodylife-medien.com/events/</a></span>
  <span *ngIf="'before' | isTerminated" class="terminated-message">Die Abstimmung beginnt am 02. August. Bitte haben Sie
    noch ein wenig Geduld.</span>
  <img class="right-image" width="96" height="132.48" src="/assets/NEWard 2021 1024.jpg">
  Der NEWard geht 2021 in die dritte Runde: Junge Unternehmen und Firmen, die ein neues Produkt gelauncht haben, konnten
  sich für den NEWard als „Aufsteiger des Jahres“ oder als „Produktneuheit des Jahres“ aufstellen lassen. Voraussetzung
  für die Teilnahme zum „Aufsteiger des Jahres“ war, dass das Unternehmen höchstens fünf Jahre alt oder seit maximal
  fünf Jahren in der Fitnessbranche tätig ist. Bei der Wahl zur „Produktneuheit des Jahres“ musste der Produktlaunch
  zwischen dem 1. Juli 2020 und dem 30. Juni 2021 gewesen sein. Es durften höchstens drei Produkte je Unternehmen
  eingereicht werden.<br><br>

  <h2>Branche wählt Aufsteiger und Produktneuheit</h2>
  Die Abstimmung findet zwischen dem 02. August und dem 15. Oktober statt. Aus allen Einreichungen werden dann die
  „Produktneuheit des Jahres“ und der „Aufsteiger des Jahres“ gekürt. Wer sich in den beiden Kategorien den begehrten
  Siegerpokal abholen darf, darüber entscheidet die gesamte Fitnessbranche.<br><br>

  <h2>So wird abgestimmt!</h2>
  Einfach den gewünschten Eintrag anschauen und auf „Jetzt abstimmen“ klicken. Dann öffnet sich ein
  Dialogfenster, in dem Sie Ihre Mail-Adresse eingeben und abschicken. Daraufhin erhalten Sie eine Mail mit dem
  Zugangslink. Einfach anklicken und schon können Sie für das aktuelle Unternehmen bzw. Produkt auf einer Skala von 1
  bis 10 abstimmen. Danach können Sie sich weitere Einträge anschauen und direkt abstimmen – ohne weitere Anforderung.
  Der Link zur Abstimmung ist 4 Stunden gültig.
</section>
<section id="aufsteiger-des-jahres" @list [token]="token$ | async" neward-company-listing
  [companies]="companies$ | async"></section>
<section id="produktneuheiten-des-jahres" @list [token]="token$ | async" neward-product-listing
  [products]="products$ | async"></section>