.neward-intro {
  box-sizing: border-box;
  min-height: calc(100vH - 144px);

  h1 {
    margin-bottom: 16px;
    text-align: left;
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 8px;
    font-weight: 700;
    letter-spacing: .8px;
  }

  .right-image {
    float: right;
    margin: 0 0 16px 16px;
    max-width: 100%;
    width: 48px;
  }
}

.neward-company-listing,
.neward-product-listing {
  box-sizing: border-box;
  min-height: calc(100vH - 88px);
  padding-top: 72px;
}
