.neward-intro {
  box-sizing: border-box;
  min-height: calc(100vH - 9rem);

  .right-image {
    float: right;
    margin: 0 0 1rem 1rem;
    max-width: 100%;
    width: 3rem;
  }
}

.neward-company-listing {
  box-sizing: border-box;
  min-height: calc(100vH - 5.5rem);
  padding-top: 4.5rem;
}
