<section neward-intro>
  <h1>Die Preisverleihung für Aufsteiger und Produktneuheiten der Fitnessbranche</h1>
  <img class="right-image" width="48" height="132.48" src="/assets/pokal-aufsteiger-des-jahres.png">
  <img class="right-image" width="48" height="132.48" src="/assets/pokal-produktneuheit-des-jahres.png">
  Im vergangenen Jahr feierte der NEWard eine sensationelle Premiere: Überglückliche Gewinner, eine zauberhafte
  Bühnenshow, gutes Essen und viel Zeit zum Netzwerken machten die Veranstaltung zu einem vollen Erfolg. Impressionen
  finden Sie <a href="https://www.bodylife.com/body-life-neward-2019-impressionen-gewinner/" rel="noopener"
    target="_blank">hier</a>. Aus diesem Grund fiel uns die Entscheidung nicht wirklich schwer – auch in diesem Jahr
  wird es wieder einen NEWard geben.<br><br>

  <h2>Teilnahmevoraussetzungen</h2>

  Um an der Wahl zum „Aufsteiger des Jahres“ teilnehmen zu können, darf das Unternehmen höchstens fünf Jahre alt oder
  maximal fünf Jahre in der Fitnessbranche tätig sein. Bei der Wahl zur „Produktneuheit des Jahres“ muss der
  Produktlaunch zwischen dem 1. Juni 2019 und dem 31. Mai 2020 sein. Es dürfen höchstens drei Produkte je Unternehmen
  eingereicht werden.<br><br>

  <h2>Branche wählt Aufsteiger und Produktneuheit</h2>
  Die Abstimmung findet zwischen dem 27. Juli und dem 30. Oktober statt. Aus allen Einreichungen werden dann die
  „Produktneuheit des Jahres“ und der „Aufsteiger des Jahres“ gekürt. Wer sich in den beiden Kategorien den begehrten
  Siegerpokal abholen darf, darüber entscheiden die Leser unserer Magazine body LIFE, TRAINER und FUNCTIONAL TRAINING
  MAGAZIN, die Besucher unserer Webseiten sowie die Kunden, Partner und Fans der Teilnehmer.
</section>
<section id="aufsteiger-des-jahres" neward-company-listing [companies]="companies$ | async"></section>
