<h2 mat-dialog-title>Kurze Erklärung?</h2>
<button mat-icon-button mat-dialog-close tabindex="-1" aria-label="close" type="button">
  <mat-icon>&#xe5cd;</mat-icon>
</button>
<mat-dialog-content>
  <p>
    Sie können jedem Teilnehmer, egal ob Produktneuheit oder Aufsteiger, bis zu 10 Punkte geben. Es existiert kein
    Limit, also stöbern Sie durch so viele Einträge wie Sie möchten.<br><br>
    Klicken Sie einfach auf einen Teilnehmer und wählen Sie in dem Drop-Down die gewünschte Punktzahl.<br><br>
    Vielen Dank für Ihre Stimme.
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="primary" mat-dialog-close>Ok, Verstanden!</button>
</mat-dialog-actions>
