<h1>Datenschutzerklärung</h1>
<p>Diese Webseite für den NEWard ist eine Sub-Seite von <a href="https://bodylife-medien.com" rel="noopener" target="_blank">https://bodylife-medien.com</a> und basiert auf der dort hinterlegten <a href="https://bodylife-medien.com/datenschutz/"
    rel="noopener" target="_blank">Datenschutzerklärung</a> Im folgenden finden Sie erweiternde Paragraphen, welche nur für diese Sub-Domain zutreffen.</p>
<h4>Datenschutzbestimmungen zum Einsatz und zur Verwendung sonstiger Werkzeuge</h4>
<ul>
  <li>
    <h4>a) Netlify</h4>
    <p>
      Wir verwenden die Dienste von Netlify Inc. (“Netlify”). Indem Sie uns personenbezogene Daten zur Verfügung
      stellen,
      erklären Sie sichfreiwillig mit der Erhebung, Verwendung und Offenlegung solcher personenbezogenen Daten an
      Netlify
      einverstanden. Netlify gibt Ihre persönlichen Daten nur an Dritte weiter, sofern dies für die Bereitstellung
      eines
      bestimmten Dienstes erforderlich und im Einklang mit unseren Datenschutzbestimmungen ist. Ihre persönlichen Daten
      werden von Netlify verwendet, um Dienste für Sie bereitzustellen und die Qualität der Webseite und der Dienste
      kontinuierlich zu verbessern, die Website und Dienste effektiver nutzen zu können, um Serviceniveaus zu bewerten
      sowie Verkehrsmuster zu überwachen und die Beliebtheit verschiedener Serviceoptionen zu messen. Netlify verwendet
      Cookies, um die Beliebtheit von Serviceangeboten zu messen. Netlify wird diese Informationen nutzen, um
      sicherzustellen, dass Besucher stets dieselbe Website sehen, wenn sie zur entsprechenden Web-URL zurückkehren.
      Ferner
      wird die Anzahl der klickenden Besucher auf unserer Website erhoben. Weiterführende Informationen zu der
      Datenschutzrichtlinie von Netlify finden Sie unter <a href="https://www.netlify.com/privacy/" target="_blank"
        rel="noopener">https://www.netlify.com/privacy/</a>.
    </p>
  </li>
  <li>
    <h4>b) Google Web Fonts</h4>
    <p>
      Diese Seite nutzt zur einheitlichen Darstellung von Schriftarten so genannte Web Fonts, die von Google
      bereitgestellt werden. Beim Aufruf einer Seite lädt Ihr Browser die benötigten Web Fonts in ihren Browsercache,
      um
      Texte und Schriftarten korrekt anzuzeigen. Wenn Ihr Browser Web Fonts nicht unterstützt, wird eine
      Standardschrift
      von Ihrem Computer genutzt. Weitere Informationen zu Google Web Fonts finden Sie unter
      <a href="https://developers.google.com/fonts/faq" target="_blank"
        rel="noopener">https://developers.google.com/fonts/faq</a>
      und in der Datenschutzerklärung von Google:
      <a href="https://www.google.com/policies/privacy/" target="_blank"
        rel="noopener">https://www.google.com/policies/privacy/</a>.
    </p>
  </li>
  <li>
    <h4>c) Google Firebase</h4>
    <p>
      Ihre personenbezogenen Daten werden an Google Firebase übermittelt. Firebase ist eine Google-Tochter und hat
      seinen Sitz in San Francisco (CA), USA.

      Firebase ist eine Echtzeit-Datenbank, mit der sich Echtzeitinformationen in die eigene Website einbetten lassen.
      Hierbei werden die Nutzerdaten anonymisiert an Firebase übermittelt, um die Datenbank nutzen zu können.

      Die Übermittlung der Daten erfolgt auf Grundlage unserer berechtigten Interessen gemäß Art. 6 Abs. S. 1 lit. f
      DGSGVO zu den oben genannten Zwecken.

      Weitere Informationen zum Datenschutz im Zusammenhang mit Google Firebase finden Sie unter:
      <a href="https://www.firebase.com/terms/privacy-policy.html" target="_blank"
        rel="noopener">https://www.firebase.com/terms/privacy-policy.html</a>.
    </p>
  </li>
</ul>
