<ng-container *ngIf="token$ | async as token">
  <button mat-flat-button color="primary" *ngIf="token | validToken; else signindialog"
    [disabled]="!('during' | isTerminated)" [matMenuTriggerFor]="voteMenu">
    {{ token?.product_votes[product?.id] || 0 }}
    <ng-container *ngIf="token?.product_votes[product?.id] === 1; else multiple">Punkt</ng-container>
    <ng-template #multiple>Punkte</ng-template>
  </button>
</ng-container>
<h1 itemtype="http://schema.org/Name">{{ product?.name }}</h1>
<span *ngIf="product?.releaseDate as releaseDate">
  <span>Produktlaunch:</span>&nbsp;<span
    itemtype="http://schema.org/releaseDate">{{ releaseDate | date: 'dd. MMMM yyyy' }}</span>
</span>
<img class="logo" itemtype="http://schema.org/logo" *ngIf="product?.logo as logo"
  [alt]="'Produktlogo von ' + product?.name" [src]="logo">
<h2>Kurzbeschreibung des Produkts</h2>
<p itemtype="http://schema.org/description" [innerHTML]="product?.promotion?.description | safe: 'html'"></p>
<section class="video" *ngFor="let video of product?.videos">
  <iframe [src]="video | safe: 'resourceUrl'" frameborder="0"
    allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<h2>Was macht unser Produkt besonders? USP?</h2>
<p [innerHTML]="product?.promotion.usp | safe: 'html'"></p>
<section class="slider" *ngIf="product?.images?.length > 0">
  <swiper>
    <a class="slider-element" (click)="openOverlay.emit(image)" *ngFor="let image of product?.images">
      <img itemtype="http://schema.org/image" [src]="image | safe: 'resourceUrl'">
    </a>
  </swiper>
</section>
<h2>Weshalb ist unser Produkt die Produktneuheit des Jahres? Warum sollte man für unser Produkt
  voten? </h2>
<p [innerHTML]="product?.promotion.why | safe: 'html'"></p>
<ng-container class="documents" *ngIf="product?.documents?.length > 0">
  <h2>Dokumente</h2>
  <a *ngFor="let document of product?.documents" download [href]="document.url | safe: 'url'" rel="noopener"
    target="_blank">{{ document.name }}</a>
</ng-container>
<section itemscope itemtype="http://schema.org/manufacturer" neward-contact [company]="product?.manufacturer">
</section>

<mat-menu #voteMenu="matMenu" class="neward-menu vote-menu" xPosition="before">
  <button mat-menu-item (click)="vote(product, 0)">0 Punkte</button>
  <button mat-menu-item (click)="vote(product, 1)">1 Punkt</button>
  <button mat-menu-item (click)="vote(product, 2)">2 Punkte</button>
  <button mat-menu-item (click)="vote(product, 3)">3 Punkte</button>
  <button mat-menu-item (click)="vote(product, 4)">4 Punkte</button>
  <button mat-menu-item (click)="vote(product, 5)">5 Punkte</button>
  <button mat-menu-item (click)="vote(product, 6)">6 Punkte</button>
  <button mat-menu-item (click)="vote(product, 7)">7 Punkte</button>
  <button mat-menu-item (click)="vote(product, 8)">8 Punkte</button>
  <button mat-menu-item (click)="vote(product, 9)">9 Punkte</button>
  <button mat-menu-item (click)="vote(product, 10)">10 Punkte</button>
</mat-menu>

<ng-template #signindialog>
  <button mat-flat-button color="primary" [disabled]="!('during' | isTerminated)"
    (click)="signin.emit()">Jetzt abstimmen</button>
</ng-template>