<h3>{{ product.name }}</h3>
<p [innerHTML]="product.promotion?.description | safe: 'html'"></p>
<img width="120" *ngIf="product.logo" [alt]="'Produktlogo von ' + product.name" [src]="product.logo">
<img width="120" *ngIf="!product.logo && product.manufacturer?.logo"
  [alt]="'Unternehmenslogo von ' + product.manufacturer.legalName" [src]="product.manufacturer.logo">
<span class="badge" *ngIf="token?.product_votes && token.product_votes[product.id]">
  {{ token.product_votes[product.id] }} Punkte
</span>
